  <!-- Latest news start -->
  
  <div class="container">
    <div id="latest-news" class="news">
      <div class="page-header">
        <h2>Latest news</h2>
      </div>
      <div class="slider-items-products">
        <div id="latest-news-slider" class="product-flexslider hidden-buttons">
          <div class="slider-items slider-width-col6"> 
            
            <!-- Item -->
            <div class="item">
              <div class="jtv-blog">
                <div class="blog-img"> <a href="single_post.html"> <img class="primary-img" src="images/blog-img1.jpg" alt=""></a> <span class="moretag"></span> </div>
                <div class="blog-content-jtv">
                  <h2><a href="single_post.html">Sed do eiusmod sit amet</a></h2>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
                  <span class="blog-likes"><i class="fa fa-heart"></i> 149 likes</span> <span class="blog-comments"><i class="fa fa-comment"></i> 80 comments</span>
                  <div class="blog-action"> <span>Jan, 20, 2017</span> <a class="read-more" href="single_post.html">read more</a> </div>
                </div>
              </div>
            </div>
            <!-- End Item -->
            <div class="item">
              <div class="jtv-blog">
                <div class="blog-img"> <a href="single_post.html"><img class="primary-img" src="images/blog-img1.jpg" alt=""></a> </div>
                <div class="blog-content-jtv">
                  <h2><a href="single_post.html">Lorem ipsum dolor sit amet</a></h2>
                  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                  <span class="blog-likes"><i class="fa fa-heart"></i> 89 likes</span> <span class="blog-comments"><i class="fa fa-comment"></i> 10 comments</span>
                  <div class="blog-action"><span>May, 25, 2017</span> <a class="read-more" href="single_post.html">read more</a> </div>
                </div>
              </div>
            </div>
            <!-- Item -->
            <div class="item">
              <div class="jtv-blog">
                <div class="blog-img"> <a href="single_post.html"><img class="primary-img" src="images/blog-img1.jpg" alt=""></a> </div>
                <div class="blog-content-jtv">
                  <h2><a href="single_post.html">Integer scelerisque diam vitae</a></h2>
                  <p>Ut sit amet turpis. In est arcu, sollicitudin eu, vehicula venenatis. Maecenas eu enim in lorem</p>
                  <span class="blog-likes"><i class="fa fa-heart"></i> 125 likes</span> <span class="blog-comments"><i class="fa fa-comment"></i> 30 comments</span>
                  <div class="blog-action"><span>April, 12, 2017</span> <a class="read-more" href="single_post.html">read more</a> </div>
                </div>
              </div>
            </div>
            <!-- End Item --> 
            
            <!-- Item -->
            <div class="item">
              <div class="jtv-blog">
                <div class="blog-img"> <a href="single_post.html"> <img class="primary-img" src="images/blog-img1.jpg" alt=""></a> <span class="moretag"></span> </div>
                <div class="blog-content-jtv">
                  <h2><a href="single_post.html">Sed do eiusmod sit amet</a></h2>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
                  <span class="blog-likes"><i class="fa fa-heart"></i> 149 likes</span> <span class="blog-comments"><i class="fa fa-comment"></i> 80 comments</span>
                  <div class="blog-action"> <span>Jan, 20, 2017</span> <a class="read-more" href="single_post.html">read more</a> </div>
                </div>
              </div>
            </div>
            <!-- End Item --> 
            
            <!-- Item -->
            <div class="item">
              <div class="jtv-blog">
                <div class="blog-img"> <a href="single_post.html"> <img class="primary-img" src="images/blog-img1.jpg" alt=""></a> <span class="moretag"></span> </div>
                <div class="blog-content-jtv">
                  <h2><a href="single_post.html">Sed do eiusmod sit amet</a></h2>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
                  <span class="blog-likes"><i class="fa fa-heart"></i> 149 likes</span> <span class="blog-comments"><i class="fa fa-comment"></i> 80 comments</span>
                  <div class="blog-action"> <span>Jan, 20, 2017</span> <a class="read-more" href="single_post.html">read more</a> </div>
                </div>
              </div>
            </div>
            <!-- End Item --> 
            
          </div>
        </div>
      </div>
    </div>
  </div>